{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="content-header">
    <h1>NextRes Home</h1>
  </div>
  <div class="content">
    <p>
      Welcome to the NextRes rewrite preview! This is currently a work in progress, and there are likely numerous bugs
      to be found. Please report any bugs you find either to
      <a href="mailto:next-techchair@mit.edu">next-techchair@mit.edu</a> or to the
      <a href="https://github.com/next-exec/nextres">GitHub repository</a>.
    </p>
  </div>
{% endblock %}
