[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
Flask = "*"
Flask-Authorize = "*"
Flask-Dance = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
PyMySQL = "*"
SQLAlchemy-Utils = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
serve = "env FLASK_APP=nextres FLASK_ENV=development OAUTHLIB_INSECURE_TRANSPORT=true python -m flask run"
